<app-topnav></app-topnav>


<app-navbar></app-navbar>


<div class="container-sm mb-5 mt-5">
  <div class="card">
    <div class="card-4">

      <div class="container mt-1">
        <br>
        <h1>Datos de la Demanda</h1>
        <div class="row">
          <div class="col-sm-6 bg-light text-white">
            <div class="input-group">
              <span class="input-group-text">Id Demanda:</span>
              <input type="text" class="form-control" placeholder="">
            </div>
            <br>
            <div class="input-group">
              <input type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30"
                min="2021-01-31T00:00" max="2022-12-31T00:00">
            </div>
            <br>
            <div class="form-group">
              <label for="sel1" class="form-label" style="color: black;">Tipo Demanda:</label>
              <select class="form-select" id="sel1" name="sellist">
                <option></option>
                <option>Judicial</option>
                <option>Judicial</option>
                <option>Judicial</option>
              </select>

            </div>
          </div>
          <div class="col-sm-6 bg-light text-white">
            <label for="comment" style="color: black;">Detalle de la Demanda:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
          </div>
        </div>
      </div>
      <br>
      <div class="container mt-1">
        <h1>Demandado</h1>
        <div class="row bg-light">
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut">Rut:</label>
              <input type="text" required class="form-control" name="rut" id="txtRut" aria-describedby="helpId"
                placeholder="">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut" style="color: black;">Nombre:</label>
              <input type="text" required class="form-control" name="Id" id="txtId" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut" style="color: black;">Apellido</label>
              <input type="text" required class="form-control" name="Id" id="txtId" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="txtTelefono" style="color: black;">Telefono:</label>
              <input type="number" required class="form-control" name="Id" id="txtTelefono" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="sel1" class="form-label" style="color: black;">Comuna:</label>
              <select class="form-select" id="sel1" name="sellist">
                <option></option>
                <option>Concepcion</option>
                <option>Hualpen</option>
                <option>Talcahuano</option>
              </select>

            </div>
          </div>
        </div>
        <br>
        <h1>Demandante</h1>
        <div class="row bg-light">
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut">Rut:</label>
              <input type="text" required class="form-control" name="rut" id="txtRut" aria-describedby="helpId"
                placeholder="">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut" style="color: black;">Nombre:</label>
              <input type="text" required class="form-control" name="Id" id="txtId" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut" style="color: black;">Apellido</label>
              <input type="text" required class="form-control" name="Id" id="txtId" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="txtRut" style="color: black;">Telefono:</label>
              <input type="text" required class="form-control" name="Id" id="txtId" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="sel1" class="form-label" style="color: black;">Comuna:</label>
              <select class="form-select" id="sel1" name="sellist">
                <option></option>
                <option>Concepcion</option>
                <option>Hualpen</option>
                <option>Talcahuano</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary mb-5 float-right mr-5">Crear Demanda</button>
      <button type="submit" class="btn btn-danger mb-5 float-left ml-5">Volver atras</button>


    </div>
  </div>
</div>
<app-footer></app-footer>