<app-topnav></app-topnav>
<app-navbar></app-navbar>



<div class="container degradado mb-5 mt-5 p-4">

    <form #casoForm="ngForm" (ngSubmit)="modificarCaso()" method="post">
        <button type="submit" class="btn btn-success float-right"> Modificar Caso <i
                class="fa-solid fa-plus"></i></button>
        <br>
        <h1>Datos del caso</h1>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Id del caso:</label>
                    <input [(ngModel)]="caso.id_caso" type="text" class="form-control" id="id_caso"
                        placeholder="Ingrese id" name="id_caso" disabled>
                </div>
                <br>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Asignar abogado:</label>
                    <select [(ngModel)]="caso.nombre_usuario" class="form-select" name="abogado" id="abogado">
                        <option [selected]="caso.nombre_usuario == item.nombre_usuario" *ngFor="let item of abogados">
                            {{item.nombre_usuario}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Estado:</label>
                    <select class="form-select" name="estado" id="estado">
                        <option [selected]="caso.estado == item.id_estado.toString()" *ngFor="let item of estados">
                            {{item.desc_estado}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Seguimiento:</label>
                    <select class="form-select" name="seguimiento" id="seguimiento">
                        <option [selected]="caso.seguimiento == item" *ngFor="let item of seguimientos"> {{item}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <label for="comment" style="color: black;">Detalle del caso:</label>
                <textarea [(ngModel)]="caso.detalle_caso" class="form-control" rows="5" id="detalle"
                    name="detalle"></textarea>
            </div>


        </div>
    </form>

    <!-- Lista demandas -->

    <div class="lista-demandas mt-4">
        <h3>Listado de demandas</h3>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div *ngFor="let demanda of demandas; index as i" class="accordion-item">
                <h2 class="accordion-header" [id]="'panelsStayOpen-headingOne'+i">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#panelsStayOpen-collapseOne'+i" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Número de demanda: #{{demanda.id_demanda}}
                    </button>
                </h2>
                <div [id]="'panelsStayOpen-collapseOne'+i" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row datos-demanda p-2">
                            <!-- Datos de la demanda -->
                            <div class="col-sm-4">
                                <h5>Datos de la demanda</h5>
                                <ul>
                                    <li><b>Número de demanda:</b> {{demanda.id_demanda}}</li>
                                    <li><b>Fecha demanda:</b> {{demanda.fecha_demanda}}</li>
                                    <li><b>Tipo de demanda:</b> {{demanda.desc_tp_demanda}}</li>
                                    <li><b>Detalle demanda:</b> {{demanda.detalle_demanda}}</li>
                                </ul>
                            </div>

                            <!-- Datos demandado -->
                            <div class="col-sm-4">
                                <h5>Datos del demandado</h5>
                                <ul>
                                    <li><b>Rut demandado:</b> {{demanda.rut_demandado}}</li>
                                    <li><b>Nombre demandado:</b> {{demanda.nom_demandado + ' ' + demanda.ape_demandado}}
                                    </li>
                                    <li><b>teléfono demandado:</b> {{demanda.tel_demandado}}</li>
                                    <li><b>Comuna demandado:</b> {{demanda.nom_comuna_dmdo}}</li>
                                </ul>
                            </div>

                            <!-- Datos demandante -->
                            <div class="col-sm-4">
                                <h5>Datos del demandante</h5>
                                <ul>
                                    <li><b>Rut demandante:</b> {{demanda.rut_dmte}}</li>
                                    <li><b>Nombre demandante:</b> {{demanda.nom_dmte + ' ' + demanda.ape_dmte}}</li>
                                    <li><b>teléfono demandante:</b> {{demanda.tel_dmte}}</li>
                                    <li><b>Comuna demandante:</b> {{demanda.nom_comuna_dmte}}</li>
                                </ul>
                            </div>


                            <div class="btn-modificar">
                                <button data-bs-toggle="modal" [attr.data-bs-target]="'#mymodal'+i"
                                    class="btn btn-primary mr-2"> Modificar demanda</button>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                    [attr.data-bs-target]="'#delModal'+i">
                                    Eliminar demanda</button>
                            </div>

                            <!-- MODAL PARA ELIMINAR  -->

                            <div class="modal" [id]="'delModal'+i">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Eliminar demanda</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            ¿Esta seguro que desea eliminar la demanda #{{demanda.id_demanda}}?
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer flexibles">
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Volver
                                                
                                            </button>
                                            <button (click)="eliminarDemanda(demanda.id_demanda.toString())"
                                                type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar
                                                </button>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- MODAL -->
                            <div class="modal fade" [id]="'mymodal'+i">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Modificar demanda</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row m-1 demanda-container ">
                                                <h3>Datos de la demanda</h3>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="comment">Id demanda:</label>
                                                        <input type="text" class="form-control"
                                                            [value]="demanda.id_demanda" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group date">
                                                        <label for="comment">Fecha de ingreso:</label>
                                                        <input class="form-control" type="text" id="meeting-time"
                                                            name="meeting-time" [value]="demanda.fecha_demanda"
                                                            disabled>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="sel1" class="form-label">Tipo Demanda:</label>
                                                        <select class="form-select" id="tp_demanda" name="sellist">
                                                            <option
                                                                [selected]="item.desc_tp_demanda == demanda.desc_tp_demanda"
                                                                *ngFor="let item of tpDemandas">
                                                                {{item.desc_tp_demanda}}
                                                            </option>

                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <label for="comment">Detalle de la Demanda:</label>
                                                    <textarea class="form-control mb-4" rows="5" id="detalle_demanda"
                                                        name="text" [value]="demanda.detalle_demanda"></textarea>
                                                </div>

                                                <!-- DATOS DEMANDADO -->
                                                <h3>Demandado</h3>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="rut_dmdo">Rut:</label>
                                                            <input type="text" required class="form-control" name="rut"
                                                                id="rut_dmdo" aria-describedby="helpId" placeholder=""
                                                                [value]="demanda.rut_demandado">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="nom_dmdo">Nombre:</label>
                                                            <input type="text" required class="form-control" name="Id"
                                                                id="nom_dmdo" aria-describedby="helpId"
                                                                [value]="demanda.nom_demandado">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="ape_dmdo">Apellido:</label>
                                                            <input type="text" required class="form-control" name="Id"
                                                                id="ape_dmdo" aria-describedby="helpId"
                                                                [value]="demanda.ape_demandado">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="tel_dmdo">Telefono:</label>
                                                            <input type="text" required class="form-control" name="Id"
                                                                id="tel_dmdo" aria-describedby="helpId"
                                                                [value]="demanda.tel_demandado">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="com_dmdo" class="form-label">Comuna:</label>
                                                            <select class="form-select" id="com_dmdo" name="sellist">
                                                                <option
                                                                    [selected]="comuna.nom_comuna == demanda.nom_comuna_dmdo"
                                                                    *ngFor="let comuna of comunas">
                                                                    {{comuna.nom_comuna}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- DATOS DEMANDANTE -->
                                                <h3>Demandante</h3>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="rut_dmte">Rut:</label>
                                                            <input type="text" required class="form-control" name="rut"
                                                                id="rut_dmte" aria-describedby="helpId" placeholder=""
                                                                [value]="demanda.rut_dmte">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="nom_dmte">Nombre:</label>
                                                            <input type="text" required class="form-control" name="Id"
                                                                id="nom_dmte" aria-describedby="helpId"
                                                                [value]="demanda.nom_dmte">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="ape_dmte">Apellido:</label>
                                                            <input type="text" required class="form-control" name="Id"
                                                                id="ape_dmte" aria-describedby="helpId"
                                                                [value]="demanda.ape_dmte">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="tel_dmte">Telefono:</label>
                                                            <input type="text" required class="form-control" name="Id"
                                                                id="tel_dmte" aria-describedby="helpId"
                                                                [value]="demanda.tel_dmte">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="com_dmte" class="form-label">Comuna:</label>
                                                            <select class="form-select" id="com_dmte" name="sellist">
                                                                <option
                                                                    [selected]="comuna.nom_comuna == demanda.nom_comuna_dmte"
                                                                    *ngFor="let comuna of comunas">
                                                                    {{comuna.nom_comuna}}</option>
                                                            </select>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <!-- Modal footer -->
                                        <div class="flexibles modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Volver
                                                atras</button>
                                            <button (click)="modificarDemanda(demanda)" type="button"
                                                class="btn btn-success"
                                                data-bs-dismiss="modal">Modificar demanda</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

<app-footer></app-footer>