<app-topnav></app-topnav>
<app-navbar></app-navbar>

<div class="container degradado mb-5 mt-5 p-4">
    <form #casoForm="ngForm" (ngSubmit)="crearCaso()"  method="post">
        <button type="submit" class="btn btn-success float-right"> Crear Caso <i
                class="fa-solid fa-plus"></i></button>
        <br>
        <h1>Datos del caso</h1>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Id del caso:</label>
                    <input [(ngModel)]="casoUsuario.id_caso" type="text" class="form-control" 
                    id="id_caso" placeholder="Ingrese id" name="id_caso">
                </div>
                <br>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Asignar abogado:</label>
                    <select [(ngModel)]="casoUsuario.nombre_usuario" class="form-select" name="abogado" id="abogado">
                        <option selected> Seleccione un abogado</option>
                        <option *ngFor="let item of abogados"> {{item.nombre_usuario}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Estado:</label>
                    <select [(ngModel)]="casoUsuario.estado" class="form-select" name="estado" id="estado">
                        <option 
                        *ngFor="let item of estados"
                            >{{item.desc_estado}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comment">Seguimiento:</label>
                    <select [(ngModel)]="casoUsuario.seguimiento" class="form-select" name="seguimiento" id="seguimiento">
                        <option selected >Seleccione seguimiento</option>
                        <option *ngFor="let item of seguimientos"> {{item}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <label for="comment" style="color: black;">Detalle del caso:</label>
                <textarea [(ngModel)]="casoUsuario.detalle_caso" class="form-control" rows="5" id="detalle" name="detalle"></textarea>
            </div>


        </div>
    </form>


    <!-- NUEVA DEMANDA -->
</div>


<app-footer></app-footer>