<app-topnav></app-topnav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <div class="mt-5 mb-5 degradado login-container">
            <form action="">
              <div class="mb-3 mt-5">
                <label for="email" class="mb-2 form-label">Email:</label>
                <input type="email" class="login__input form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class="mb-4">
                <label for="pwd" class="mb-2 form-label">Password:</label>
                <input type="password" class="login__input form-control" id="pwd" placeholder="Enter password" name="pswd">
              </div>
              <button type="submit" class="btn-login mb-4 btn">Iniciar Sesión</button>
            </form>
          </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>

<app-footer></app-footer>